/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Jersey]
      ,[firstName]
      ,[month]
      ,[day]
      ,[year]
      ,[age]
  FROM [MLJONES].[dbo].[birthdays$]